<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [46]:
import csv

from collections import namedtuple   # Convenient to store the data rows

import pandas as pd

DATA_FILE = './data/chipotle.tsv'

In [47]:
file_nested_list = pd.read_csv(DATA_FILE, delimiter='\t')
file_nested_list.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [122]:
#print(file_nested_list.loc[file_nested_list.loc[:,'quantity']>1,:])
# output shows that item_price already reflects quantity. Therefore, average price per order is sum of 
#item_price divided by total quantity across all orders.

#convert item_price to float: first remove $ sign, then convert string to float
file_nested_list['price_str'] = file_nested_list['item_price'].str.replace("$","")
file_nested_list['price_num'] = file_nested_list.apply(lambda row: float(row.loc['price_str']),
axis='columns')

#price_num is float version of item_price. Sum price_num and quantity for each order
total_price_per_order = file_nested_list.groupby('order_id')['price_num','quantity'].sum()

#calculate average price per order as the total price_num divided by total quantity 
#across orders
avg_price_orders = sum(total_price_per_order['price_num']) / sum(total_price_per_order['quantity'])
print(avg_price_orders)

6.938889782783631

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [61]:
unique_sodas_df = file_nested_list.loc[(file_nested_list.loc[:,'item_name']=='Canned Soft Drink') | (file_nested_list.loc[:,'item_name']=='Canned Soda') ,:]
unique_sodas_df

unique_sodas = list(unique_sodas_df['choice_description'].unique())
unique_sodas

['[Sprite]',
 '[Dr. Pepper]',
 '[Mountain Dew]',
 '[Diet Dr. Pepper]',
 '[Coca Cola]',
 '[Diet Coke]',
 '[Coke]',
 '[Lemonade]',
 '[Nestea]']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [104]:
burrito_orders = file_nested_list.loc[file_nested_list.loc[:,'item_name'].str.contains('Burrito',na=False),:]

burrito_orders['choice_description']
#each element of choice description column is a string - easiest way to count toppings is to count the 
#number of commas between toppings listed for each burrito item and add one.

burrito_orders['toppings'] = burrito_orders.loc[:,'choice_description'].str.count(",") + 1
burrito_orders['toppings']

burrito_orders.loc[:,'toppings'].mean()

C:\Users\pkumar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [121]:
chip_orders = file_nested_list.loc[file_nested_list.loc[:,'item_name'].str.contains('Chips',na=False),:]
chip_orders

chip_orders_aggquantity = chip_orders.groupby('item_name')['quantity'].sum()

chip_dict_keys = list(chip_orders_aggquantity.index)
chip_dict_values = list(chip_orders_aggquantity.values)

chip_dict = dict(zip(chip_dict_keys, chip_dict_values))
print(chip_dict)

{'Chips': 230, 'Chips and Fresh Tomato Salsa': 130, 'Chips and Guacamole': 506, 'Chips and Mild Fresh Tomato Salsa': 1, 'Chips and Roasted Chili Corn Salsa': 23, 'Chips and Roasted Chili-Corn Salsa': 18, 'Chips and Tomatillo Green Chili Salsa': 45, 'Chips and Tomatillo Red Chili Salsa': 50, 'Chips and Tomatillo-Green Chili Salsa': 33, 'Chips and Tomatillo-Red Chili Salsa': 25, 'Side of Chips': 110}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!